
.CarRecord
{
    list-style: none outside none;
}


.CarsImage
{
    height: 170px;
}

.CarRecord> li {
    display: inline-block;
}

.AutoInformation {
    padding-left: 55px;
}

.Car > div{
    display: inline-block;
}

.CarsList > li{
    margin-bottom: 20px;
    border: 1px solid;
    padding: 10px 10px 10px 10px;
    width: 840px;
    border-radius: 10px;
    border-color: gray;
    background-color: lightblue;
}

.CarsList {
    list-style: none outside none;
}

.DivHeaders {
    font-weight: bold;
    padding-bottom: 10px;
}

.ElementsBlock > li > div{
    display: inline-block;
    
}

.ElementsBlock {
    padding-bottom: 50px;
    list-style: none outside none;
    margin-left: 0px;
}

.ElementsBlock > li{
    padding-top: 40px;
    width: 300px;
    padding-bottom: 10px;
}

.displayLabel {
    font-weight: bold;
    width: 200px;
}

.PushButton {
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
}

.SearchingPanel {
    float: left;
    height: 600px;
    border: 1px solid;
}